Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,  
  cppcoreguidelines-*,
  portability-*,
  clang-analyzer-*,
  misc-*,
  hicpp-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*/vinecopulib/(include|test|examples)/'
HeaderFileExtensions:         ['', 'h','hh','hpp','ipp','hxx']
FormatStyle: file
