platform: 
  - Win32
  - x64
#TODO: configuration: Debug/Release + same with CMake

init:
  - ps: |
        If ($env:platform -Match "Win32") {
          $env:NLOPT_ZIP="nlopt-2.4.2-dll32.zip"
        } Else {
          $env:NLOPT_ZIP="nlopt-2.4.2-dll64.zip"
        }
  - cmd: C:/"Program Files (x86)"/"Microsoft Visual Studio 12.0"/VC/vcvarsall.bat
  - ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  - choco upgrade cmake # so Boost 1.63 is supported
  - set path=C:\Program Files\CMake\bin;%path%

  - ps: Bootstrap #R
  - ps: $env:R_LIBS_USER = 'c:\R\library'
  - travis-tool.sh r_install VineCopula

  - ps: wget http://bitbucket.org/eigen/eigen/get/3.3.2.zip -OutFile eigen.zip
  - 7z x eigen.zip -o"C:\projects" -y > nul

  - ps: wget "http://ab-initio.mit.edu/nlopt/$env:NLOPT_ZIP" -OutFile nlopt.zip
  - 7z x nlopt.zip -o"C:\projects\nlopt" -y > nul
  - lib /def:C:\projects\nlopt\libnlopt-0.def
  - move libnlopt-0.lib C:\projects\nlopt\
  - move libnlopt-0.exp C:\projects\nlopt\

  - pip install numpy

build_script:
  - ps: $env:CMAKE_ARGS = '-DBOOST_ROOT=C:\Libraries\boost_1_63_0 -DEIGEN3_INCLUDE_DIR="C:\projects\eigen-eigen-da9b4e14c255" -DCMAKE_LIBRARY_PATH="C:\projects\nlopt" -DCMAKE_INCLUDE_PATH="C:\projects\nlopt"'

  - md build-debug
  - cd build-debug
  - cmake .. %CMAKE_ARGS% -DCMAKE_BUILD_TYPE=Debug
  - cmake --build .
  - ctest -C Debug --output-on-failure
  - cd ..

  - md build-release
  - cd build-release
  - cmake .. %CMAKE_ARGS% -DCMAKE_BUILD_TYPE=Release
  - cmake --build .
  - ctest -C Release --output-on-failure
  - cd ..
